doctype html
html(lang="vi", xmlns="http://www.w3.org/1999/xhtml", class="no-js")
  head
    title=title
    meta(charset="utf-8")
    meta(name="description" content="Công ty TNHH công nghệ Lê Huy - Cung cấp các giải pháp công nghệ thông tin toàn diện")
    meta(name="keywords" content="Le Huy, Công ty TNHH công nghệ Lê Huy, công nghệ Lê Huy, Le Huy Technology, Le Huy Technology Company Limited, Le Huy Technology Co Ltd")
    meta(property="og:title", content=title)
    meta(property="og:description", content="Công ty TNHH công nghệ Lê Huy - Cung cấp các giải pháp công nghệ thông tin toàn diện")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(property="og:url", content="https://lehuy.co")
    meta(property="og:image", content="https://lehuy.co/share.jpg")
    meta(property="og:image:secure_url", content="https://lehuy.co/share.jpg")
    meta(property="fb:app_id", content="363813347454508")
    meta(property="og:type", content="website")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700%7cWork+Sans:400,600,700&display=swap&subset=vietnamese")
    != css('app', {'data-turbolinks-track': true })
  body(style="overflow: visible;")
    block content