extends ../layout

block content
  #login-page
    .page-header.page-cover
      .container
        .page-title
          h2 Đăng nhập
    .page-wrapper
      .container
        .row
          .col-md-4.me-auto.ms-auto
            form.login-form(action='/auth/login', method='POST')
              .form-group.position-relative
                label.form-label
                  | Email 
                  span.text-danger *
                input.form-control(type='email', placeholder='Email', name='email', required='')
              .form-group.position-relative
                label.form-label
                  | Password 
                  span.text-danger *
                input.form-control(type='password', placeholder='Password', name="password", required='')
              //- p.float-right.forgot-pass
              //-   a.text-dark.font-weight-bold(href='recovery_passward.html') Forgot password ?
              button.btn.btn-primary.w-100.fw-bold Đăng nhập