.about-company
    .container
    .row
        .col-md-4
        img.w-100(src=assetPath('about/about.png'))
        .col-md-8
        .panel-content
            span.highlight-text=__("about.whoLabel")
            h2 JPVN Group
            p!=__("about.introduction")