#footer
  .container
    .row
      .col-md-3
        a(href="/")
          img.logo(src=assetPath('logo-white.png'))
      .col-md-3
        ul
          li
            a(href="#") Company
          li
            a(href="#") History
          li
            a(href="#") News
          li
            a(href="#") Contact
      .col-md-3
        ul
          li
            a(href="#") Facebook
          li
            a(href="#") Twiter
      .col-md-3
        ul
          li
            i.las.la-home
            a(href="mailto:contact@jpvngroup.com")  contact@jpvngroup.com
          li
            i.las.la-map-marker
            span  107 Giảng Võ, phường Chợ Dừa, quận Đống Đa, Hà Nội