mixin sidebar() 
  #me-sidebar
    ul.list-group
      li.list-group-item
        a(href="/me") 
          i.fa.fa-user
          |  Hồ sơ
      li.list-group-item
        a(href="/me/edit")
          i.fa.fa-edit
          |  Sửa hồ sơ
      li.list-group-item
        a(href="/applications")
          i.fa.fa-list
          |  Danh sách ứng tuyển
      li.list-group-item
        a(href="/educations")
          i.fa.fa-graduation-cap
          |  Trình độ học vấn
      li.list-group-item
        a(href="/passports")
          i.fa.fa-id-card
          |  Hộ chiếu
      li.list-group-item
        a(href="/certificates")
          i.fa.fa-certificate
          |  Chứng chỉ
      li.list-group-item
        a(href="/experiences") 
          i.fa.fa-anchor
          |  Quá trình làm việc
