extends ../layout
include ./form
include ../me/sidebar
include ../mixins/flash-messages

block content
  #me-page
    .container
      .row
        .col-md-9
          .page-header
            h4.page-title=experience.shipname
            ol.breadcrumb
              li.breadcrumb-item
                a(href='/me') Hồ sơ
              li.breadcrumb-item
                a(href='/experiences') Kinh nghiệm làm việc
          +flash-messages()
          +form("/experiences/" +  experience._id)
        .col-md-3
          +sidebar()