extends ../layout
include ../../mixins/pagination

block content
  .container
    .page-header
      h4.page-title Quản lý yêu cầu
      nav(aria-label='breadcrumb')
        ol.breadcrumb
          li.breadcrumb-item
            a(href='/admin') Dashboard
          li.breadcrumb-item.active(aria-current='page') Quản lý yêu cầu
    table.table.table-bordered
      thead.thead-light
        tr
          th Người gửi
          th Ngày tạo
          th Tác vụ
      tbody
        each enquiry in enquiries
          tr
            td 
              strong=enquiry.name
            td.fit
              if enquiry.createdAt
                =enquiry.createdAt.toFormat("HH:mm DD/MM/YYYY")
            td.fit.align-middle
              a.btn.btn-primary.btn-sm(href="/admin/enquiries/" + enquiry._id) Xem
              //- button.btn.btn-danger.btn-sm.ml-2.delete-item-btn(data-id=quote._id, data-scope='quotes', data-title=quote.title)
              //-   i.fa.fa-close
              //-   span  Xóa
    +pagination('/admin/enquiries', total, page)