extends ../layout
include ./form
include ../../mixins/flash-messages

block content
  .container
    .panel
      .page-header
        h4.page-title Thêm phản hồi
        ol.breadcrumb
          li.breadcrumb-item
            a(href='/admin') Dashboard
          li.breadcrumb-item
            a(href=ADMIN_PATH) Quản lý phản hồi
      +flash-messages()
      +form(ADMIN_PATH)