extends ../layout
include ./form
include ../../mixins/flash-messages

block content
  .container
    .page-header
      h4.page-title Thêm bài viết
      ol.breadcrumb
        li.breadcrumb-item
          a(href='/admin') Dashboard
        li.breadcrumb-item
          a(href='/admin/posts') Quản lý bài viết
    +flash-messages()
    +form("/admin/posts")