$font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-size: 1rem;
* {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 0px;
    text-rendering: geometricPrecision;
}

body {
    color: #333;
    font-family: $font-family !important;
    // background: #f2f3f8;
    font-size: 16px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: none;
    font-family: $font-family !important;
    line-height: 1.5;
}

a,
.btn,
label,
input,
li,
strong {
    font-family: $font-family !important;
}

.text-bold {
    font-weight: bold;
}

.btn {
    outline: none;
    border-radius: 2px;
    border: none;
}

.btn-lhv {
    background-color: #0b5f6a;
    color: #ffffff;
}

.btn-light {
    color: #0b5f6a;
    font-size: 16px;
}

label {
    line-height: 1.5;
}

.form-group {
    margin-bottom: 1rem;
}

.bg-gray {
    background-color: #f0f4f9 !important;
}

.bg-white {
    background-color: #ffffff !important;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    .header-top {
        a {
            text-decoration: none;
            padding: 10px 0;
            margin-right: 20px;
            display: inline-block;
            i {
                color: #ffffff;
            }
            span {
                color: #ffffff;
                padding-left: 10px;
            }
        }
    }
    .navbar-brand {
        img {
            height: 50px;
        }
    }
    .navbar {
        background-color: rgba(0, 0, 0, 0.4);
        a {
            font-size: 18px;
            color: #ffffff;
            // font-weight: 700;
            text-transform: uppercase;
        }
    }
}

.page-cover {
    background-image: url(asset_path('contact/hoguom.jpg'));
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 60px;
    margin-bottom: 30px;
    .page-title {
        h2 {
            font-weight: 700;
            color: #ffffff;
            text-transform: uppercase;
        }
    }
}

.nav-language-link {
    width: 30px;
    display: inline-block;
    // line-height: 65px;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 0 !important;
    border-radius: 2px;
    &:first-child {
        margin-left: 0;
    }
}

.section-head {
    margin-bottom: 60px;
    h3 {
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
    }
    p {
        font-size: 16px;
    }
}

#login-page {
    background: #f8f9fa;
    .page-wrapper {
        padding: 100px 0 240px 0;
    }
    .login-form {
        background: #ffffff;
        padding: 30px;
    }
}

#homepage {
    .masthead {
        height: 100vh;
        width: 100%;
        // background-image: url(asset_path("home/hcm.jpg"));
        background-image: url(asset_path('home/skyline.jpg'));
        background-size: cover;
        background-position: center;
        position: relative;
        .masthead-content {
            z-index: 99;
        }
        h1 {
            font-size: 52px;
            font-weight: 900;
            color: #ffffff;
            text-transform: uppercase;
        }
        h2 {
            font-size: 32px;
            // font-weight: bold;
            color: #ffffff;
        }
        .overlay {
            background: #000000;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0.3;
        }
    }
    .services-section {
        padding-top: 0 !important;
    }
    .services {
        padding: 120px 0;
        .card,
        .card:hover {
            box-shadow: 0px 10px 30px 0px rgba(205, 205, 205, 0.33);
            transition: all 0.3s;
            border: inherit;
            text-decoration: none;
            h5 {
                font-size: 18px;
                font-weight: bold;
                color: #000000;
            }
            h3 {
                text-decoration: none;
            }
            &:hover {
                box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
            }
        }
    }
    .tellus {
        background-image: url(asset_path('home/hn.jpg'));
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        position: relative;
        .overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            background: #000000;
            opacity: 0.3;
            z-index: 0;
        }
        .tellus-content {
            z-index: 99;
            padding: 120px 0;
            position: relative;
        }
        h3 {
            color: #ffffff;
            font-size: 32px;
            font-weight: 800;
            line-height: 48px;
            text-shadow: 1px 3px 8px rgba(0, 0, 0, 0.17);
            margin-bottom: 30px;
            text-transform: uppercase;
        }
        h4 {
            font-size: 18px;
            line-height: 30px;
            color: #ffffff;
            margin-bottom: 30px;
        }
    }
    .clients {
        padding: 120px 0;
    }
}

.card,
.card:hover {
    box-shadow: 0px 10px 30px 0px rgba(205, 205, 205, 0.3);
    transition: all 0.3s;
    text-decoration: none;
    h3 {
        text-decoration: none;
        font-size: 18px;
        color: #000000;
    }
}

.highlight-text {
    position: relative;
    color: #0b5f6a;
    text-transform: uppercase;
    padding-left: 86px;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    &:before {
        width: 15px;
        left: 0;
    }
    &:after,
    &:before {
        background: #0b5f6a;
        height: 3px;
        content: '';
        position: absolute;
        top: 10px;
    }
    &:after {
        width: 40px;
        left: 26px;
    }
}

.about-company {
    padding: 100px 0;
    // background: #FFFFFF;
    .panel-content {
        padding: 20px;
    }
}

#about-page {
    background: #f8f8f8;
    padding-bottom: 200px;
    .page-header {
        background-image: url(asset_path('about/cover.jpg'));
        background-size: cover;
        background-position: center;
        padding-top: 200px;
        padding-bottom: 60px;
        .page-title {
            h2 {
                font-weight: 700;
                color: #ffffff;
                text-transform: uppercase;
            }
        }
    }
    h2 {
        font-weight: 700;
        text-transform: uppercase;
    }
    .red-text {
        color: #0b5f6a;
        font-weight: bold;
        margin-bottom: 10px;
        display: inline-block;
    }

    .vision-panel {
        background: #ffffff;
        border-radius: 8px;
        margin-top: 100px;
        // -webkit-box-shadow: 0 0 40px 5px rgba(51, 51, 51,0.1);
        // box-shadow: 0 0 40px 5px rgba(51, 51, 51,0.1);
        img {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }
    }
    .mission-panel {
        background: #ffffff;
        border-radius: 8px;
        margin-top: 100px;
        // margin-bottom: 100px;
        // -webkit-box-shadow: 0 0 40px 5px rgba(51, 51, 51,0.1);
        // box-shadow: 0 0 40px 5px rgba(51, 51, 51,0.1);
        img {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }
    .panel-content {
        padding: 20px;
        h3 {
            font-size: 1.2rem;
            font-weight: bold;
            color: #000000;
        }
    }
    .core-value-section {
        padding: 100px 0;
        background-image: url(asset_path('about/word.jpeg'));
        background-size: cover;
        h2 {
            margin-bottom: 30px;
        }
        .card {
            border: none;
            // -webkit-box-shadow: 0 0 40px 5px rgba(51, 51, 51,0.1);
            // box-shadow: 0 0 40px 5px rgba(51, 51, 51,0.1);
            height: 100%;
            border-radius: 6px;
            .card-body {
                padding: 20px;
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.services-section {
    padding: 100px 0;
    .section-header {
        margin-bottom: 30px;
    }
    .card-container {
        padding-bottom: 30px;
        height: 100%;
    }
    .card {
        border: none;
        border-radius: 6px;
    }
}

.testimonial-area {
    // background-color: #11224d;
    // background-image: url(asset_path('testimonial-bg.jpg'));
    background-size: cover;
    .section-title {
        margin-bottom: 30px;
        h2 {
            color: #ffffff;
            font-size: 2rem;
            font-weight: bold;
        }
    }
    .testimonial-list {
        padding-top: 50px;
    }
    .single-testimonial {
        background-color: #fff;
        border-radius: 10px;
        padding: 0 40px;
        padding-bottom: 25px;
        // margin-bottom: 80px;
        box-shadow: 0px 10px 30px 0px rgba(205, 205, 205, 0.3);
        .testimonial-author {
            position: relative;
            top: -40px;
            img {
                border-radius: 50%;
                width: 80px;
            }
            span {
                display: block;
                font-size: 60px;
                color: #fea116;
                line-height: 1;
            }
        }
        .testimonial-text {
            margin-top: -20px;
        }
        .author-details {
            h5 {
                font-size: $font-size;
                font-weight: bold;
                color: #203c64;
            }
        }
        .author-details p {
            color: #fea116;
            margin: 0;
            text-transform: uppercase;
            font-weight: 500;
        }
    }
}

#contact-page {
    .page-header {
        background-image: url(asset_path('contact/hoguom.jpg'));
        background-size: cover;
        background-position: center;
        padding-top: 200px;
        padding-bottom: 60px;
        margin-bottom: 30px;
        .page-title {
            h2 {
                font-weight: 700;
                color: #ffffff;
                text-transform: uppercase;
            }
        }
    }
    padding-bottom: 60px;
}

#career-page {
    .page-header {
        background-image: url(asset_path('contact/hoguom.jpg'));
        background-size: cover;
        background-position: center;
        padding-top: 200px;
        padding-bottom: 60px;
        margin-bottom: 30px;
        .page-title {
            h2 {
                font-weight: 700;
                color: #ffffff;
                text-transform: uppercase;
            }
        }
    }
    padding-bottom: 100px;
    .career-icons {
        // background: #FFFFFF;
        // padding: 20px;
    }
    .career-icon {
        padding: 20px;
        text-align: center;
        img {
            height: 100px;
            width: auto;
        }
        p {
            margin-top: 30px;
            font-weight: bold;
            color: #203c64;
        }
    }
    .career-list {
        .career-item {
            width: 100%;
            padding-bottom: 30px;
            margin-bottom: 30px;
            display: inline-block;
            border-bottom: 1px solid #203c64;
            border-radius: 0;
            &:last-child {
                border-bottom: none;
            }
            .career-summary {
                // width: 80%;
                // float: left;
            }
            .career-action {
                // width: 20%;
                // float: right;
                // text-align: right;
            }
            h5 {
                color: #203c64;
                font-size: $font-size;
                padding-bottom: 0;
                margin-bottom: 10px;
            }
        }
    }
}

#blog {
    padding-bottom: 100px;
}

#blog-menu {
    ul {
        padding: 0;
        list-style: none;
        margin: 0;
        li {
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: #222;
                padding: 15px;
                display: block;
                white-space: nowrap;
                font-weight: bold;
            }
            &:first-child {
                a {
                    padding-left: 0;
                }
            }
            &.active {
                a {
                    color: #0b5f6a;
                }
            }
        }
    }
}

.blog-sidebar {
    .sidebar-widget {
    }
    .list-group-item {
        a {
            font-weight: bold;
            text-decoration: none;
            color: #000000;
        }
    }
}

.blog-item {
    .blog-img {
        img {
            border-radius: 10px;
        }
    }
    .blog-content {
        a {
            color: #000000;
            font-weight: bold;
            text-decoration: none;
        }
    }
}

.sidebar-widget {
    .list-group-item {
        a {
            font-weight: bold;
        }
    }
}

.callnow {
    position: fixed;
    left: 20px;
    bottom: 20px;
    height: auto;
    width: auto;
    display: block;
    z-index: 2147483647;
    background: linear-gradient(
        360deg,
        #e5ebef 0%,
        #eef2f5 50.52%,
        #fefefe 100%
    );
    box-shadow: 0 16px 19px rgba(186, 189, 212, 0.2),
        inset 0 -1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 88px;
    width: auto;
    height: auto;
    .call-trap {
        background: linear-gradient(
            90deg,
            rgb(255, 183, 77) 0%,
            rgb(239, 108, 0) 100%
        );
        float: left !important;
        margin: 4px;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .call-text {
        font-size: 17px;
        font-weight: 800;
        color: rgb(247, 146, 39);
        text-transform: uppercase;
        float: right !important;
        margin: 4px 16px 0 4px;
        line-height: 40px;
        white-space: nowrap;
    }
}

.navbar {
    .logo-color {
        display: none;
    }
    .logo-white {
        display: inline-block;
    }
}

.news-template {
    #header {
        position: relative;
        background: #ffffff;
        color: #000000;
        border-bottom: 1px solid #efefef;
        .header-top {
            background: #0b5f6a;
        }
        .navbar {
            background: #ffffff;
            a,
            a span,
            a i {
                color: #000000;
            }
            .logo-color {
                display: inline-block;
            }
            .logo-white {
                display: none;
            }
        }
    }
    .main-content {
        padding-top: 30px;
    }
    .toppost {
        display: inline-block;
        width: 100%;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 30px;
        .overlay {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            border-radius: 5px;
            background: -webkit-linear-gradient(
                180deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0) 44.79%,
                rgba(0, 0, 0, 0.35) 63.54%,
                #000000 100%
            );
            background: -o-linear-gradient(
                180deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0) 44.79%,
                rgba(0, 0, 0, 0.35) 63.54%,
                #000000 100%
            );
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0) 44.79%,
                rgba(0, 0, 0, 0.35) 63.54%,
                #000000 100%
            );
            -webkit-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }
        .toppost-content {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 20px;
            h6 {
                font-size: 20px;
                font-weight: bold;
                color: #ffffff;
            }
        }
        &.small {
            .toppost-content {
                padding: 10px;
            }
            h6 {
                font-size: 16px;
            }
        }
    }
    .blog-single {
        padding-bottom: 100px;
        .breadcrumb {
            a {
                color: rgb(153, 153, 153);
            }
        }
    }
}

#footer {
    // margin-top: 120px;
    background: #0b5f6a;
    padding: 60px 0;
    .logo {
        height: 50px;
    }
    ul {
        list-style: none;
        li {
            color: #ffffff;
            padding-bottom: 10px;
            a {
                color: #ffffff;
                text-decoration: none;
            }
        }
    }
}

.pt-30 {
    padding-top: 30px;
}

@media only screen and (max-width: 991px) {
    #header {
        position: relative;
        background: #000000;
        .navbar {
            background: #000000;
            .navbar-toggler {
                border: none !important;
                box-shadow: none;
                color: #ffffff;
                i {
                    font-size: 30px;
                }
            }
        }
    }
}
