@font-face {
  font-family: 'Futura';
  src: url('/fonts/SVN-Futura.eot');
  src: url('/fonts/SVN-Futura.eot?#iefix') format('embedded-opentype'),
      url('/fonts/SVN-Futura.woff2') format('woff2'),
      url('/fonts/SVN-Futura.woff') format('woff'),
      url('/fonts/SVN-Futura.ttf') format('truetype'),
      url('/fonts/SVN-Futura.svg#SVN-Futura') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('/fonts/SVN-FuturaBold.eot');
  src: url('/fonts/SVN-FuturaBold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/SVN-FuturaBold.woff2') format('woff2'),
      url('/fonts/SVN-FuturaBold.woff') format('woff'),
      url('/fonts/SVN-FuturaBold.ttf') format('truetype'),
      url('/fonts/SVN-FuturaBold.svg#SVN-FuturaBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

