mixin postcard(post)
  .blog-item
    .blog__img
      a(href=post.path)
        img.w-100(src=post.thumb, alt=post.title)
    .blog__content.pl-0
      //- .blog__meta
      //-   .blog__meta-cat
      //-     if post.categories
      //-       each category in post.categories
      //-         a(href='/blog/' + category.slug)=category.title
      //-   span.blog__meta-date=post.createdAt.toLocaleDateString('vi-VI', {})
      h6  
        a(href=post.path)=post.title