body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
    // font-size: 14px;
    background-color: #f4f4f4;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
}
p,
div,
a {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
    // font-size: 14px;
}

.bg-navy {
    background-color: #203c64;
}

.main-navbar {
    background-color: #ffffff;
    .nav-logo {
        height: 46px;
    }
    .nav-link {
        font-weight: bold;
        color: #ffffff;
    }
}

#admin-wrapper {
    min-height: 500px;
    padding-bottom: 50px;
}

#contactpage {
    padding: 30px 0;
}

.logo {
    max-width: 300px;
}

.intro {
    padding-top: 110px;
    .intro-left-content {
        padding: 40px 0;
    }
}

.terms,
.policy {
    padding: 30px 0;
}

#blogpage {
    padding-bottom: 50px;
    .post {
        padding-bottom: 10px;
        p {
            padding-bottom: 0;
            margin-bottom: 0;
        }
        .post-title {
            font-size: 20px;
            color: #3d5368;
        }
    }
    .list-categories {
        a.list-group-item {
            font-size: 14px;
            color: #3d5368;
        }
        a.active.list-group-item {
            background-color: #0b5f6a;
            border-color: #0b5f6a;
            color: #ffffff;
        }
    }
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #0b5f6a;
}

.page-header {
    padding: 0 0 20px 0;
    width: 100%;
    position: relative;
    .page-title {
        padding: 0;
        margin: 0;
        font-weight: bold;
        font-size: 20px;
    }
    .breadcrumb {
        background: transparent;
        padding: 0;
        margin: 0;
        .breadcrumb-item {
            a,
            a:hover {
                color: #000000;
                text-decoration: none;
            }
        }
    }
    .page-actions {
        padding: 10px 0 0 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}

table {
    th,
    td {
        vertical-align: middle;
    }
    thead {
        tr {
            border-color: #0b5f6a !important;
        }
        th {
            background-color: #0b5f6a !important;
            color: #ffffff;
            border-color: #0b5f6a !important;
        }
    }
    th {
        white-space: nowrap;
        text-align: center;
    }
    td.fit,
    th.fit {
        width: 1%;
        white-space: nowrap;
    }
    .col-img {
        width: 160px;
    }
}

.post-form {
    padding-bottom: 50px;
}

a.card,
a.card:hover {
    text-decoration: none !important;
}

.panel {
    background: #fff;
    border-radius: 6px;
    padding: 15px;
    margin-top: 30px;
    .page-header {
        padding-bottom: 15px;
        margin: 0px 0 15px 0;
        border-bottom: 1px solid #ebedf3;
    }
}

.dash-counter,
.dash-counter:hover {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    .card {
        border: none;
        h5 {
            font-weight: 600;
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .page-header {
        .page-actions {
            position: relative;
        }
    }
    .panel {
    }
}
