extends ../layout

block content
  .container
    .panel
      .page-header
        h4.page-title Tổng hợp
      .row
        .col-md-4
          a.card(href='/admin/posts')
            .card-body
              h5.card-title Bài viết
              p.card-text
                .text-right
                  h3
                    span.badge.badge-primary=postCount