extends ../layout

block content
  .container
    .panel
      .page-header
        h4.page-title Luật Hưng Việt
      .row
        .col-md-4
          a.dash-counter(href='/admin/posts')
            .card
              .card-body.bg-primary
                h5.card-title Bài viết
                p.card-text
                  .text-right
                    h3
                      span.badge.bg-primary=postCount