extends ../layout
include ../../mixins/pagination

block content
  .container
    .panel
      .page-header
        h4.page-title Quản lý báo giá
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='/admin') Dashboard
            li.breadcrumb-item.active(aria-current='page') Quản lý báo giá
      table.table.table-bordered
        thead.thead-light
          tr
            th Tên chuyên mục
            th Tác vụ
        tbody
          each quote in quotes
            tr
              td 
                strong=quote.company_name
              td.fit.align-middle
                a.btn.btn-primary.btn-sm(href="/admin/quotes/" + quote._id) Xem
                //- button.btn.btn-danger.btn-sm.ml-2.delete-item-btn(data-id=quote._id, data-scope='quotes', data-title=quote.title)
                //-   i.fa.fa-close
                //-   span  Xóa
      +pagination('/admin/quotes', total, page)