extends ../layout

block content
  .container.terms
    p
      | Welcome to Le Huy, the website and online service of Le Huy (Le Huy,” “we,” “our” or “us”). Please read these Terms of Uses carefully. By accessing or using the website located at www.lehuy.co (the “site”, “service”), you agree to be bound by this Terms of Use Agreement (“Agreement”) and all policies and guidelines incorporated by reference herein. This Agreement applies to all users, members, contributors and others who access the Service (“Users”).
    p
      | If you are using the Site or the Service on behalf of any entity, you represent and warrant that you are authorized to accept these Terms on such entity’s behalf, and that such entity agrees to indemnify you and Le Huy for violations of these Terms. Nothing in these Terms will be deemed to confer any third party rights or benefits.
    p
      | This Agreement hereby incorporates the terms of the following additional documents, including all future amendments or modifications thereto:
    ul
      li The Contributor Agreement
      li Privacy Policy
    h3 1. USE OF OUR SERVICE
    p
      | Le Huy operates an online design platform and media licensing service that empowers our users to create designs and collaborate.
    p
      | In order to enter the Service, User needs to register for a Le Huy account and provide information which includes his/her email address, a username and a password. User can also register with his/her Facebook profile or Google account. In order to be accepted as a Contributor, we may require you to submit valid photo identification.
    p
      | All data requested during the Service registration process shall be given fully and correctly, provided the request of such data does not contradict any data protection law(s).You may never use another User’s account without permission. You are solely responsible for the activity that occurs on your account, and you must keep your account password secure. You must notify Le Huy immediately of any breach of security or unauthorized use of your account. Le Huy will not be liable for any losses caused by any unauthorized use of your account.
    h3 2. SERVICE RULES
    p You agree not to engage in any of the following prohibited activities:
    p
      | (i) copying, distributing, or disclosing any part of the Service in any medium, including without limitation by any automated or non-automated “scraping”;
      br
      |  (ii) using any automated system, including without limitation “robots,” “spiders,” “offline readers,” etc., to access the Service in a manner that sends more request messages to the Le Huy servers than a human can reasonably produce in the same period of time by using a conventional on-line web browser;
      br
      |  (iii) transmitting spam, chain letters, or other unsolicited email;
      br
      |  (iv) attempting to interfere with, compromise the system integrity or security or decipher any transmissions to or from the servers running the Service;
      br
      |  (v) taking any action that imposes, or may impose at our sole discretion an unreasonable or disproportionately large load on our infrastructure;
      br
      |  (vi) uploading invalid data, viruses, worms, or other software agents through the Service;
      br
      |  (vii) collecting or harvesting any personally identifiable information, including account names, from the Service;
      br
      |  (viii) using the Service for any commercial solicitation purposes;
      br
      |  (ix) impersonating another person or otherwise misrepresenting your affiliation with a person or entity, conducting fraud, hiding or attempting to hide your identity;
      br
      |  (x) interfering with the proper working of the Service;
      br
      |  (xi) accessing any content on the Service through any technology or means other than those provided or authorized by the Service;
      br
    p
      | We may, without prior notice, change the Service; stop providing the Service or features of the Service, to you or to Users generally; or create usage limits for the Service. We may permanently or temporarily terminate or suspend your access to the Service without notice and liability for any reason, including if in our sole determination you violate any provision of this Agreement, or for no reason. Upon termination for any reason or no reason, you continue to be bound by this Agreement. If your account is terminated for any reason, you must obtain written authorization from Le Huy prior to establishing another account. If you attempt to establish another account without obtaining such authorization, Le Huy may permanently ban you from the Service.
    p
      | You are solely responsible for your interactions with other Le Huy Users. We reserve the right, but have no obligation, to monitor disputes between you and other Users. Le Huy shall have no liability for your interactions with other Users, or for any User’s action or inaction.
    h3 3. USER CONTENT
    p You agree not to submit User Content that:
    p
      | (i) is unlawful, abusive, obscene, pornographic, profane, harmful, threatening, harassing, vulgar, defamatory, libelous, invasive of another’s privacy, or hateful racially or ethnically;
      br
      |  (iii) could infringe copyright laws or other proprietary or intellectual property rights without the explicit permission of the owner and the persons (or their legal guardians, where applicable) who are shown in the content, if applicable;
      br
      |  (iv) contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipments;
      br
      |  (v) unsolicited or unauthorized advertising, promotional materials, “junk mail”, “spam”, “chain letters”, “pyramid schemes”, or any other similar forms of solicitation.
    p
      | To the best of your knowledge, all your User Content and other information that you provide to us is truthful and accurate.
    p
      | Le Huy takes no responsibility and assumes no liability for any User Content that you or any other User or third party posts or sends over the Service. You shall be solely responsible for your User Content and the consequences of posting or publishing it, and you agree that we are only acting as a passive conduit for your online distribution and publication of your User Content. You understand and agree that you may be exposed to User Content that is inaccurate, objectionable, inappropriate for children, or otherwise unsuited to your purpose, and you agree that Le Huy shall not be liable for any damages you allege to incur as a result of User Content.
    p
      | By publishing any designs containing User Content on the Service, you expressly grant, and you represent and warrant that you have all rights necessary to grant to Le Huy a royalty-free, sub-licensable, transferable, perpetual, irrevocable, non-exclusive, worldwide license to use, reproduce, modify, publish, list information regarding, edit, translate, distribute, syndicate, publicly perform, publicly display, and make derivative works of all such User Content and your name, voice, and/or likeness as contained in your User Content, in whole or in part, and in any form, media or technology, whether now known or hereafter developed, for use in connection with the Service and Le Huy's business, including without limitation for promoting and redistributing part or all of the Service (and derivative works thereof) in any media formats and through any media channels.
    h3 4. PRIVACY
    p
      | We care about the privacy of our Users. You understand that by using the Services you consent to the collection, use and disclosure of your personally identifiable information and aggregate data as set forth in our Privacy Policy and to have your personal information collected, used, transferred to and processed.
    h3 5. SECURITY
    p
      | Le Huy cares about the integrity and security of your personal information. However, we cannot guarantee that unauthorized third parties will never be able to defeat our security measures or use your personal information for improper purposes. You acknowledge that you provide your personal information at your own risk.
    h3 6. THIRD-PARTY LINKS
    p
      | The Service may contain links to third-party websites, advertisers, services, special offers, or other events or activities that are not owned or controlled by Le Huy. Le Huy does not endorse or assume any responsibility for any such third-party sites, information, materials, products, or services. If you access a third party website from the Service, you do so at your own risk, and you understand that this Agreement and Le Huy’s Privacy Policy do not apply to your use of such sites. You expressly relieve Le Huy from any and all liability arising from your use of any third-party website, service, or content. Additionally, your dealings with or participation in promotions of advertisers found on the Service, including payment and delivery of goods, and any other terms (such as warranties) are solely between you and such advertisers. You agree that Le Huy shall not be responsible for any loss or damage of any sort relating to your dealings with such advertisers.
    h3 7. NO WARRANTY
    p
      | The service is provided on an “as is” and “as available” basis. Use of the service is at your own risk. To the maximum extent permitted by applicable law, the service is provided without warranties of any kind, whether express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, or non-infringement. Without limiting the foregoing, Le Huy, its subsidiaries, and its licensors do not warrant that the content, including without limitation User Content and Stock Media, is accurate, reliable or correct; that the service will meet your requirements; that the service will be available at any particular time or location, uninterrupted or secure; that any defects or errors will be corrected; or that the service is free of viruses or other harmful components. Any content downloaded or otherwise obtained through the use of the service is downloaded at your own risk and you will be solely responsible for any damage to your computer system or mobile device or loss of data that results from such download or your use of the service.
    p
      | Le Huy does not warrant, endorse, guarantee, or assume responsibility for any product or service advertised or offered by a third party through the EllaStudy service or any hyperlinked website or service, and Le Huy will not be a party to or in any way monitor any transaction between you and third-party providers of products or services.
    p
      | Please contact us at 
      a(href='mailto:hi@lehuy.co') hi@lehuy.co
      |   with any questions regarding this Agreement.