extends ../layout
include ../mixins/pagination
include ../mixins/postcard
include ./sidebar
include ./categories

block content
  #blog
    .page-header.page-cover
      .container
        .page-title
          if category
            h2=category.title
          else
            h2=__("menu.blog")
    .container
      .row
        .col-md-8
          .row
            each post in posts
              .col-sm-12.col-md-6
                +postcard(post)
            +pagination('/blog', total, page)
        .col-md-4
          +sidebar()