extends ../layout

block content
  .container
    .panel
      if !currentUser.isAdmin && companyCount == 0
        .row
          .col-lg-12.mt-4.pt-2
            .p-4
              .text-center
                h6 Bạn chưa có công ty nào đang hoạt động. Để trở thành nhà tuyển dụng vui lòng đăng ký công ty của bạn với hệ thống
                a.btn.btn-primary.mt-3.mr-2(href='/admin/companies') Quản lý công ty
      else
        .page-header
          h4.page-title Quản lý việc làm
          ol.breadcrumb
            li.breadcrumb-item
              a(href='/admin') Dashboard
            li.breadcrumb-item.active(aria-current='page') Việc làm
          .page-actions
            a.btn.btn-primary(href="/admin/candidates/new") Thêm việc làm
        table.table.table-bordered
          thead.thead-light
            tr
              th Vị trí tuyển dụng
              th Họ Tên
              th Địa chỉ
              th Điện thoại
              th Email
              th Tác vụ
          tbody
            each candidate in candidates
              tr
                td.align-middle
                  strong=candidate.position.title
                td.align-middle
                  strong=candidate.name
                td
                  =candidate.address
                td
                  =candidate.phone
                td
                  =candidate.email
                td.fit.align-middle
                  a.btn.btn-primary.btn-sm(href="/admin/candidates/" + candidate._id)
                    i.fa.fa-pencil
                    span  Xem
                  button.btn.btn-danger.btn-sm.ms-2.delete-item-btn(data-id=candidate._id, data-scope='candidates', data-title=candidate.name)
                    i.fa.fa-close
                    span  Xóa